html {
    font-size:12px;
}
/*Body Section*/

body{
    margin:0px;
}

/*Header Section*/

#header{
    background-image:url(image/macbook_mouse.jpg);
    height:75vh;
    width:100vw;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    opacity:0.8;
    background-size:cover;
}
#header_navigation ul{
   margin:0px;
   padding:0px;
   text-align:center;
}

#header_navigation li {
   list-style-type:none;
   display:inline-block;
   margin-top:1rem;
}

#header_navigation ul li a{
    text-decoration:none;
    font-size:1.5rem;
    margin-left:2rem;
    color:white;
}

#header_navigation ul li a:hover{
    color:lightgray;
    text-decoration:underline;
}

#header_navigation ul li a{
    transition:color 0.5s,text-decoration 4s;
}

/*Name and Social Icons*/

#myname {
    text-transform:uppercase;
    color:white;
    font-size:3rem;
    margin-top:25vh;
    margin-bottom:1rem;
    text-align:center;
    transition: color 0.5s;
}

#myname:hover{
    color:lightgray;
}

#social_icons{
    text-align:center;
}

#social_icons a{
    text-align:center;
    color:white;
    font-size:1.5rem;
    padding:0.5rem;
}

#social_icons a:hover{
    border-radius:50%;
    box-shadow:0px 0px 6px 3px lightgray;
}

/*About Section*/
#about{
    height:auto;
    position:relative;
}

#about #myimage{
    height:16.5rem;
    width:16.5rem;
    display:block;
    margin:auto;
    border-radius:50%;
    margin-top:-8rem;
    border:2px solid lightgray;
    box-shadow:0px 0px 6px 2px lightgray;
}

#about #about-para{
    font-size:1.8rem;
    width:70%;
    margin:auto;
    margin-top:1rem;
    text-align:justify;
}

/*Section Classes*/
section{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
}

section:nth-child(2n){
    background-color:#9e9b9b29
}

section:nth-child(2n+1){
    background-color:white;
}

/*Skills Section*/

#skills {
  margin-top:2.5rem;
}

#skill-header{
    margin:2rem;
}

#skill-header span{
    font-size:2rem;
    padding:0.5rem;
    color:blue;
    font-weight:400;
}

.skills-display {
    width: 75%;
    padding: 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 15rem;
    height:2.2rem;
    background-color:lightgray;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 2rem;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    vertical-align: middle;
}

/*Percentage Classes*/
.eighty-five-percent {
    height:inherit;
    width:85%;
}

.eighty-percent {
    height:inherit;
    width:80%;
}

.fifty-percent{
    height:inherit;
    width:90%;
}

/*Setting Background Color*/
.mb-blue{
    background-color:#2857a4;
}

.mb-orange{
    background-color:#ec4d1c;
}

.mb-teal {
    background-color:#0b8176;
}

.mb-light-purple {
    background-color:#93738c;
}


/*Portfolio Section*/
#portfolio-header span{
    color:blue;
    font-size:3rem;
    display:inline-block;
    margin-top:1rem;
    margin-bottom:2rem;
}

.portfolio-images{
    display:flex;
    width:90%;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.wrapper img{
    width:25rem;
    height:20rem;
    display:inline-block;
}

.wrapper{
    position:relative;
    width:25rem;
    height:20rem;
    margin-bottom:0.8rem;
}

.img_description{
    position:absolute;
    top:-2rem;
    bottom:-2rem;
    left:0;
    right:0;
    color:white;
    visibility:hidden;
    opacity:0;
    padding-left:3rem;
    padding-top:3.5rem;
    font-size:2rem;
    transition: all 0.5s ease-in-out;
}

.wrapper:hover {
    background-color: #80808078; 
}
.wrapper:hover .img_description{
    visibility:visible;
    opacity:1;
    background-color:rgba(108, 122, 137, 0.7);
}

/*Contact Section*/
#contact{
    width:100%;
    height:auto;
    background:linear-gradient(90deg,#2857a4 60%,#403066);
}

#contact-header{
    color:white;
    font-size:2.9rem;
    font-weight:530;
    margin-top:1.5rem;
    margin-bottom:3.5rem;
}

#flex_user{
    height:auto;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
/*Contact Section's Other Info Section*/

#other-info{
    box-sizing:border-box;
    width:35%;
    margin:auto;
}

#other-info #connect span{
    display:inline-block;
    color:white;
    font-size:1.8rem;
    font-weight:550;
}


#other-info #connect #connect-text{
    display:inline-block;
    color:white;
    font-size:1.2rem;
    text-align:justify;
}

#contact #myaddress p{
    color:white;
    font-size:1.5rem;
    font-weight:550;
    display:inline-block;
}

#contact #myaddress #contact-location span{
    color:white;
    font-size:1.5rem;
    display:inline-block;
    margin-bottom:1rem;
}

#contact #myaddress #contact-mobile span{
    color:white;
    font-size:1.5rem;
    display:inline-block;
    margin-bottom:1rem;
}

#contact #myaddress #contact-email span{
    color:white;
    font-size:1.5rem;
    display:inline-block;
    margin-bottom:1rem;
}

/*Contact Section's message-section*/
#message-section{
    box-sizing:border-box;
    width:35%;
    margin:auto;
}

#contact input[type="text"]{
    border:0;
    outline:0;
    border-bottom:2px solid white;
    background-color:transparent;
    display:inline-block;
    margin-bottom:2.7rem;
    width:100%;
    color:white;
    height:2rem;
    padding-left:0.4rem;
}

#contact input[type="submit"]{
    color:white;
    background-color:transparent;
    border:2px solid white;
    padding:0.8rem 0.8rem;
    font-weight:550;
    display:inline-block;
}

#contact #message-submit{
    margin:auto;
    margin-top:1rem;
    display:block;
}

#contact-icons{
    margin-top:3rem;
    margin-bottom:3rem;
}
